<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.AfekaMiniTorrentDBConnectionString"
            connectionString="Data Source=localhost\TalServer;Initial Catalog=AfekaMiniTorrentDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>